<!DOCTYPE html>
<html lang="en" ng-app="lanSocial">

<head>
    <meta charset="UTF-8">
    <title>PiTected</title>
    <link href='/css/index.css' rel='stylesheet'>
    <link href='/css/login.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">

</head>


    <div ng-controller="regController">
    
            <input type="text" placeholder="Username" ng-model='username' required/>
            <input type="password" placeholder="Password" ng-model='password' required />
            <input type="text" placeholder="email@email.com" ng-model='email' required />
            <input type="text" placeholder="New York, NY" ng-model='location' required />
            <button class="form-button" ng-click="regUser()">Login</button><a class="form-button" href="/logout">Logout</a>
       
</div>
<body>



 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src='/scripts/app.js'></script>
</body>





</html>