<!DOCTYPE html>
<html lang="en" ng-app="pitectionApp">

<head>
    <meta charset="UTF-8">
    <title>PiTected</title>
    <link href='/css/index.css' rel='stylesheet'>
    <link href='/css/login.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">

</head>

<div class="modal-wrapper">
    <div id="popup">
        <div class="modal-header"><h2>Welcome</h2><hr/></div>
        <form class="form" novalidate>
            <input type="text" placeholder="Username" ng-model='username' required/>
            <input type="password" placeholder="Password" ng-model='password' required />
            <button class="form-button" ng-click="userLogin()">Login</button><a class="form-button" href="/logout">Logout</a>
        </form>
        <span id="invalidLogin" ng-hide="invalidLogin">Invalid Credentials</span>


        <div class="modal-footer"><hr/><a class='mobile-link' href="#">Stay protected on the go</a></div>
    </div>
</div>
<body ng-view>



<script src="/scripts/navbar-js.js"></script>
<script src='/angular/angular.min.js'></script>
<script src='/angular/angular-resource.min.js'></script>
<script src='/angular/route.js'></script>
<script src='/scripts/app.js'></script>
<script src='/scripts/services/login-services.js'></script>
</body>





</html>